$font-size-md: 18px !default;

.font-size-base {
  font-size: $font-size-base;
}
.font-size-lg {
  font-size: $font-size-lg;
}
.font-size-md {
  font-size: $font-size-md;
}
.font-size-xs {
  font-size: $font-size-xs;
}
.font-size-sm {
  font-size: $font-size-sm;
}
